
.conceptInput{
  display: flex;
  margin-top:100px;
  margin-left: 80px;
  margin-right:80px;
}
.input{
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  padding: 20px;
  border-radius: 50px;
  margin:100px;
  align-items: center;
}

label{
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
  font-weight: 400;
}
h1{
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
  font-weight: 200;
}
h3{
  font-family: reross-quadratic, sans-serif;
  font-style: normal;
  font-weight: 200;
  color:black;
  text-align: center;
}
